{% extends "base.html" %}
{% block content %}
  <p class="searchresult" style="width:60%;margin-bottom:30px;" >Please input the borrower details that you want to add</p>

  <div  style="height: 800px; text-align: center;align-items: flex-start;" >
    <form action="/staff/addborrowerinfo" method="POST">
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Firstname" name="firstname" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Familyname" name="familyname" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Dateofbirth:xxxx-xx-xx " name="dateofbirth" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Housenumbername" name="housenumbername" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Street" name="street" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Town" name="town" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="City" name="city" required>
        <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Postalcode" name="postalcode" required>
        <input type="hidden"  name="id" value="{{id}}">
        <div >
          <button class="searchbutton" style=" bottom:20%;left:40%; background-color:#B9AE88; color:white;" type="submit">Submit</button>
          <button class="searchbutton" style=" bottom:20%;left:48%; background-color:#B9AE88; color:white;"type = "button"  onclick="location.reload()">Reset</button>
          <button class="searchbutton" style=" bottom:20%;left:56%; background-color:#B9AE88; color:white;"type="button" onclick="history.back()">Back</button>
        </div> 
     </form>
  </div >



{% endblock %}