{% extends "base.html" %}
{% block content %}

<div class="searchresult" style="height:200px; width:80%;margin-bottom:30px;" >
    <p style="text-align:center; margin:30px auto;">Congratulations! You have successfully added details of a new borrower</p>
</div>
<div class="container mt-3">
    <table class="table"> 
        
        <tr><th>Borrower ID</th><th>Firstname</th><th>Familyname</th><th>Date of Birth</th><th>House Number Name</th>
        <th>Street</th><th>Town</th><th>City</th><th>Postalcode</th></tr>
        {% for result in results_list %}
        <tr><th>{{result[0]}}</th><th>{{result[1]}}</th><th>{{result[2]}}</th><th>{{result[3]}}</th><th>{{result[4]}}</th>
            <th>{{result[5]}}</th><th>{{result[6]}}</th><th>{{result[7]}}</th><th>{{result[8]}}</th></tr>  
        {% endfor %}  
    </table>
</div>
<div>
    <button style="margin-top: 50px; bottom: 35%;"type = "button" class="searchbutton" onclick="history.back()">Back</button>
</div>
    


        


{% endblock %}