{% extends "base.html" %}

{% block content %}
<div style="margin-top:50px;" class="allbooks">
    <p class="allbooks-text">All Books </p>   
</div>


<div class="recommends-content">
    <img class="bookimg" src="static/hp.png">
    <div class="hp">
        <p class="book">Harry Potter and the Order of the Phoenix</p>
        <p class="author">J. K. Rowling </p>
    </div>
    <img class="bookimg" src="static/wind.png">
    <div class="wind">
        <p class="book">The Wind in the Willows</p>
        <p class="author">Kenneth Grahame </p>
    </div>
    <img class="bookimg" src="static/python.png">
    <div class="python">
        <p class="book">Python Crash Course</p>
        <p class="author">Eric Matthes</p>
    </div>
    
</div>


{% endblock %}