{% extends "staffbase.html" %}
{% block content %}

<h3 style="text-align:center; margin:30px auto;">Search Results for {{name}} {{borrowerid}}</h3>

<div class="container mt-3">
    <table class="table"> 
        
        <tr><th>borrowerid</th><th>firstname</th><th>familyname</th><th>dateofbirth</th><th>housenumbername</th>
        <th>street</th><th>town</th><th>city</th><th>postalcode</th></tr>
        {% for result in result_list %}
        <tr><th>{{result[0]}}</th><th>{{result[1]}}</th><th>{{result[2]}}</th><th>{{result[3]}}</th><th>{{result[4]}}</th>
            <th>{{result[5]}}</th><th>{{result[6]}}</th><th>{{result[7]}}</th><th>{{result[8]}}</th>

        
        
        {% endfor %}
        </tr>    
    </table>
</div>
    


        


{% endblock %}