{% extends "staffbase.html" %}
{% block content %}
<p style="text-align:center; font-size: 52px; margin:150px auto; "> Please input the name or/and Id of the borrower</p>
<div class="container mt-3">
  <form style="text-align:center;" action="/staff/borrowersearchresult" method="POST">
    <input type="text" style="border-radius: 5px;" placeholder="Search by name" name="name">
    <input type="text" style="border-radius: 5px;" placeholder="Search by borrowerid" name="borrowerid">
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}