{% extends "base.html" %}
{% block content %}
<p class="searchresult" style="width:60%;margin-bottom:30px;" >Please update the details of Borrower ID <span style="color:#736A4A; margin-left: 0.5rem ; margin-right: 0.5rem ;"> {{id}} </span></p>

<div  style="height: 800px; text-align: center;align-items: flex-start;" >
  <form action="/staff/updateinfo" method="POST">
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Firstname: {{results[2]}}" name="firstname" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Familyname:{{results[1]}}" name="familyname" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Dateofbirth:{{results[3]}} " name="dateofbirth" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Housenumbername:{{results[4]}}" name="housenumbername" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Street:{{results[5]}}" name="street" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Town:{{results[6]}}" name="town" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="City:{{results[7]}}" name="city" required>
      <input style="width:50%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Postalcode:{{results[8]}}" name="postalcode" required>
      <input type="hidden"  name="id" value="{{id}}">
      <div >
        <button class="searchbutton" style=" bottom:20%;left:40%; background-color:#B9AE88; color:white;" type="submit">Submit</button>
        <button class="searchbutton" style=" bottom:20%;left:48%; background-color:#B9AE88; color:white;"type = "button"  onclick="location.reload()">Reset</button>
        <button class="searchbutton" style=" bottom:20%;left:56%; background-color:#B9AE88; color:white;"type="button" onclick="history.back()">Back</button>
      </div> 
   </form>
</div >
{% endblock %}