{% extends "base.html" %}
{% block content %}
<p class="searchresult" style="width:55%;margin-bottom:30px;" > Please input the <span style="color:#736A4A; margin-left: 0.5rem ; margin-right: 0.5rem ;"> Book Copy ID </span> and <span style="color:#736A4A; margin-left: 0.5rem ; margin-right: 0.5rem ;">Borrower ID </span>of the book you want to issue</p>

<div style="margin-top:10px ;" class="banner">
  <form action="/staff/issuebooks_result" method="POST">
      <input style="width:120%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Please input Book Copy ID" name="bookid" required>
      <input style="width:120%; margin-bottom:20px; "  class="searchinput" type="text" placeholder="Please input Borrower ID" name="borrowerid" required>
      <button style="text-align: center; left:50%" class="searchbutton" type="submit">Go</button>
  </form>
</div >


{% endblock %}