{% extends "base.html" %}
{% block content %}
<div class="searchresult">
<p>Reports</p>
</div>

<div  style="text-align: center;" >
    <form action="/staff/overduebooks">
          <button style="height:80px; width:180px;margin-top:20px;border-style: none; border-radius: 24px; background-color:#B9AE88; color:white;" type="submit">Overdue Books</button>
     </form>
     <form action="/staff/loansummary">
        <button style="height:80px; width:180px;margin-top:20px;border-style: none; border-radius: 24px; background-color:#B9AE88; color:white;" type="submit">Loan Summary</button>
   </form>
   <form action="/staff/borrowersummary">
    <button style="height:80px; width:180px;margin-top:20px;border-style: none; border-radius: 24px; background-color:#B9AE88; color:white;" type="submit">Borrower Summary</button>
   </form>
</div >

{% endblock %}