{% extends "staffbase.html" %}
{% block content %}
<p style="text-align:center; font-size: 68px; margin:150px auto; "> Welcome to Waikirikiri Library Admin</p>
<div class="container mt-3">
  <form style="text-align:center;" action="/searchresult" method="GET">
    <input type="text" style="border-radius: 5px;" placeholder="Search by author" name="author">
    <input type="text" style="border-radius: 5px;" placeholder="Search by title" name="title">
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}