{% extends "staffbase.html" %}
{% block content %}
<p style="text-align:center; font-size: 52px; margin:150px auto; "> Please input the author or/and title of the book</p>
<div class="container mt-3">
  <form style="text-align:center;" action="/staffsearchresult" method="POST">
    <input type="text" style="border-radius: 5px;" placeholder="Search by author" name="author">
    <input type="text" style="border-radius: 5px;" placeholder="Search by title" name="title">
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}