{% extends "base.html" %}
{% block content %}

<p class="searchresult" style="width:60%;margin-bottom:30px;" > Please input the <span style="color:#736A4A; margin-left: 0.5rem ; margin-right: 0.5rem ;"> ID </span>of the borrower you want to Update</p>

<div  style="margin-top:10px ;" class="banner">
  <form action="/staff/borrowerid" method="POST">
      <input style="width:140%; margin-bottom:20px; " class="searchinput" type="text" placeholder="Please input ID" name="id">
      <div >
        <button class="searchbutton" style=" bottom:20%;left:50%; background-color:#B9AE88; color:white;" type="submit">Submit</button>
      </div>
  </form>
</div >

{% endblock %}